<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apkdoandroid.versiculodedeus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VersiculoDeDeus">
        <activity android:name=".activity.MainActivity"></activity>
        <activity
            android:name=".activity.FavoritooActivity"
            android:label="@string/favoritos" />
        <activity
            android:name=".activity.PalavrasdeConfortoActivity"
            android:label="@string/palavrasdeConforto" />
        <activity
            android:name=".activity.OracaoActivity"
            android:label="@string/oracao" />
        <activity
            android:name=".activity.MulherActivity"
            android:label="@string/mulher" />
        <activity
            android:name=".activity.MotivacaoActivity"
            android:label="@string/motivacao" />
        <activity
            android:name=".activity.FeActivity"
            android:label="@string/fe" />
        <activity
            android:name=".activity.EncorajamentoActivity"
            android:label="@string/encorajamento" />
        <activity
            android:name=".activity.CasamentoActivity"
            android:label="@string/casamento" />
        <activity
            android:name=".activity.BomDiaActivity"
            android:label="@string/bomDia" />
        <activity
            android:name=".activity.AniversarioActivity"
            android:label="@string/aniversario" />
        <activity
            android:name=".activity.AmorActivity"
            android:label="@string/amor" />
        <activity
            android:name=".activity.AmizadeActivity"
            android:label="@string/amizade" />

        <activity android:name=".activity.SplashActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>